.center {
    margin: auto;
    height: 10px;
    width: 60%;
    border: 1px solid #700707;
    padding: 10px;
  }

.formquestions {
    
    margin: auto;
    width: 30%;
    border: 1px solid #700707;
    padding: 10px;
}

.centercontent {
    text-align:center ;
}

.submitbutton{
    
}