.center {
    margin: 10px auto;
    height: 10px;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
    background-color: lightgray;
    font-style: bold;
  }

.formquestions {
    
    margin: 1px auto;
    width: 40%;
    border: 3px solid black;
    padding: 10px;
    display: block;
    background-color: lightgray;

}

.centercontent {
    text-align:center ;
}

.submitbutton{
    background-color: lightgreen;
    border: none;
    color: white;
    border-radius: 10px;
    width: 25%;
    height: 30px;
    margin-left: 350px;
    margin-top: 15px;
    

}
h1 {text-align-last: center;}
label {display: block;}
body {padding: 25px;}

.lastpart {
    margin: 10px auto;
    height: 300px;
    width: 60%;
    border: 3px solid black;
    padding: 20px;
    background-color: lightgray;

}